<!DOCTYPE html>
<html>
<head>
    <title>欢迎使用NetworkSocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/js/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link type="text/css" href="/js/window/window.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico">

    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/window/window.js"></script>
    <script src="/js/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        // 事件订阅
        var es = new EventSource("/event/index");
        es.onmessage = function (e) {
            win.alert('来自服务器推送', e.data);
        }

        function runApp() {
            $.post("/home/runfastapp", {}, function (data) {
                if (!data.state) {
                    win.alertEx(data.message);
                }
            });
        }

        function sendMessage(message) {
            $.post("/home/message", { message: message });
        }
    </script>

    <style type="text/css">
        body { padding: 10px; }
    </style>
</head>

<body>
    <div class="container-fluid">
        <p>
            <a href="/chat/index">WebSocket聊天</a>
        </p>
        <p>
            <a href="javascript:void(0)" onclick="runApp();">启动Fast客户端</a>
            <span>，然后再从http直接</span>
            <a href="javascript:void(0)" onclick="sendMessage('这消息来自于浏览器');">推送一些信息</a>
            <span>到Fast客户端</span>
        </p>
    </div>
</body>
</html>
